.body {
    background: linear-gradient(to left, blue, violet );
    width: 100%;
    height: 100vh;
}

.div-etchasketch {
    position:absolute;
    
    height: 100%;
    width: 100%;
    overflow: hidden;
}
@keyframes animate {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-1000px) rotate(720deg);
    }
}

.div-etchasketch img {
    display: block;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    bottom: -150px;
    animation: animate 25s linear infinite;
}
.div-etchasketch img:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.div-etchasketch img:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.div-etchasketch img:nth-child(3) {
    left: 70%;
    width: 30px;
    height: 30px;
    animation-delay: 4s;
}
.div-etchasketch img:nth-child(4) {
    left: 50%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 8s;
}
.div-etchasketch img:nth-child(5) {
    left: 85%;
    width: 60px;
    height: 60px;
    animation-delay: 10s;
}
.div-etchasketch img:nth-child(6) {
    left: 25%;
    width: 35px;
    height: 35px;
    animation-delay: 6s;
    animation-duration: 16s;
}




.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items:center;
    z-index: 3;
    
    /* background: linear-gradient(rgba(96, 79, 252, 0.082), white); */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 300px;
    width: 60vw;
    height: 60vw;
    max-width: 600px;
    max-height: 600px;
    z-index: 3;
}

.board {
    width: 80%;
    height: 80%;
    display: grid;
    background-color: aliceblue;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0,0,0, 0.3);
    z-index: 3;
}
.board:hover {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center;
    z-index: 3;
    
}

.mode {
    margin-bottom: 0.5em;
}

.buttons {
    padding: 0.3em 1.2em;
    margin: 0.5em 0.3em 0.3em 0.3em;
    border-radius: 2em;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    transition: all 0.2s;
    z-index: 3;
}

.button:hover {
    cursor: pointer;
}

.blackBtn {
    background-color: black;
    color: whitesmoke;
}
.blackBtn:hover {
    background-color: whitesmoke;
    color: black;
}

.erasorBtn {
    background-color: black;
    color: azure;
}
.erasorBtn:hover {
    background-color: whitesmoke;
    color: black;
}

.grayBtn {
    background-color: lightgray;
    color: black;
}
.grayBtn:hover {
    background-color: gray;
    color: whitesmoke;
}

.resetBtn {
    background-color: black;
    color: lightcoral;
}
.resetBtn:hover {
    background-color: black;
    color: red;
}

.randomBtn {
    animation: randomBtnColor 3s infinite alternate running;
    background-color: #f00;
    
}
@keyframes randomBtnColor {
    0% {
		background-color: rgb(255, 82, 82);
	}
	25% {
		background-color: greenyellow;
	}
	50% {
		background-color: lightgoldenrodyellow;
	}
	75% {
		background-color: lightblue;
	}
	100% {
		background-color: lightseagreen;
	}
}

input {
    width: 50px;
    }

